@import "../css/style.css";
body {
  background-color: #f5f6f9;
  height: max-content;
}
.ulsecond > ul > li > a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 1.01rem;
  font-family: sans-serif;
  text-transform: uppercase;
}

#hero {
  background: url(../images/slider-bg-1.jpg) no-repeat center;
  background-size: cover;
  height: 85vh;
  position: relative;
}
#hero #carouselExampleIndicators {
  height: 100%;
}
.showCategories {
  height: 80vh;
}
.upperHero {
  z-index: 10;
  position: absolute;
  top: 7%;
  left: 52%;
  width: 50%;
}
.upperHero p {
  /* white-space: nowrap; */
  width: 300px !important;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;

  text-justify: inter-word;
  text-transform: capitalize;
  /* overflow: hidden;
  text-overflow: ellipsis; */
}
.upperHero p:hover {
  width: 400px;
  display: block;
  overflow: visible;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: -1px;
}
.sliderHeader div > img {
  width: 60% !important;
}
.upperProductDis {
  z-index: 20;
  position: absolute;
  top: 6%;
  left: 3%;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.1rem;
}
.rightHero {
  height: 75vh !important;
}
@media all and (max-height: 640px) {
  .rightHero div:last-child {
    display: none !important;
    /* height:75vh !important; */
  }
}
.discounts .upperProductDis h5 {
  white-space: nowrap;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.discounts .upperProductDis h5:hover {
  white-space: wrap;
  width: 470px;
  overflow: visible;
}

.forntDiv,
.fornthDiv {
  z-index: 10;
  background-color: #eeeeee2e;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.7s;
  opacity: 0;
  cursor: pointer;
}
@keyframes scaleHover {
  from {
    opacity: 1;
    transform: scaleX(1);
  }

  to {
    transform: scaleX(0);
  }
}
@keyframes scaleHHover {
  from {
    opacity: 1;
    transform: scaleY(1);
  }

  to {
    transform: scaleY(0);
  }
}
.discounts {
  z-index: 10;
  background-color: #eeeeee2e;
  /* width: 100 %; */
  height: 270px;
}
.frontdark {
  z-index: 1;
  background-color: #00000040;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.discounts:hover .forntDiv {
  animation: scaleHover 1s;
}

.discounts:hover .fornthDiv {
  animation: scaleHHover 1s;
}
.upperHero p {
  font-size: 1.2em;
  font-weight: 600;
  width: 80%;
  color: #ccc;
}
.features img {
  width: 40px;
  height: 50px;
  margin: 0 1rem;
}
.features p {
  font-size: 13px;
}
.features h6 {
  font-weight: bold;
}

/* @media all and (max-width:500){
  #hero{
    height: 10px!important;
  }
  #hero #carouselExampleIndicators {
    height:100%!important;
  }
} */
.bestSellingSec ul li button {
  border: none !important;
  transition: all 0.6s;
}

.bestSellingSec ul li button:hover {
  color: var(--textandhovercolor);
}
/* .starsHome {
  font-size: 1.37rem;
  line-height: 0.3rem;
} */
.cardProducts .card-body .card-title,
.cardOnsale .card .card-body .card-title {
  font-size: 1rem;
  font-family: serif;
  /* height: 70px; */
  /* display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; */
  overflow: hidden;
}
.cardProducts .card-body .card-title {
  height: 50px;
}
.cardOnsale .card .card-body .card-title {
  /* display: -webkit-box;
  -webkit-box-orient: vertical; */
  /* -webkit-line-clamp: 2; */
  height: 30px;
  margin-bottom: 15px;
  /* overflow: hidden; */
}
.cardOnsale {
  padding: 3px;
  height: 100%;
}
.cardOnsale .card .card-body {
  height: 140px !important;
}
.cardProducts .card-body .card-title:hover,
.cardOnsale .card .card-body .card-title:hover {
  overflow: visible !important;
}
.cardProducts .card-body .card-title:hover {
  height: 70px;
}
.cardOnsale .card .card-body .card-title:hover {
  height: 40;
}
.cardProducts .card-body h6 {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 2.8rem;
}
.cardProducts {
  /* height: 100%; */
  height: 450px;
  padding: 10px;
  /* position: relative; */
  border: 1px solid #eee;
  transition: all 0.5s;
}
/* .cardProducts > div > .imgs > img {
  width: 100%;
  height: 250px !important;
} */
.cardOnsale .card .divsimg > img {
  height: 150px !important;
}
/* .wishlistHeart {
  font-size: 1.2rem;
  position: absolute;
  left: 45%;
  bottom: 30%;
  border: 1px solid #ccc;
} */
.imgsDiv > .imgs,
.imgsDiv > .imgs2 {
  width: 100% !important;
  height: 250px !important;
  transition: 0.1s ease-in-out;
}

.divsimg > .imgs,
.divsimg > .imgs2 {
  width: 100% !important;
  height: 120px !important;
  transition: 0.1s ease-in-out;
}

.imgsDiv > .imgs2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  opacity: 0;
  scale: 0.1;
}
.divsimg > .imgs2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  opacity: 0;
  scale: 0.1;
}
.cardProducts:hover .imgsDiv .imgs2,
.cardOnsale .card:hover .divsimg .imgs2 {
  opacity: 1;
  scale: 1;
}
.cardProducts:hover .imgsDiv .imgs,
.cardOnsale .card:hover .divsimg .imgs {
  opacity: 0 !important;
}

.addToCart,
.addToCartbig {
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5em 1em;
  position: absolute;
  width: 55%;
  z-index: -1;
  bottom: -3%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease-in-out;
  display: block !important;
}
.divheart .wishlistHeart {
  position: absolute;
  bottom: -20%;
  z-index: -10;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--textandhovercolor);
  color: #a9a9a9;
  background-color: #fff;
  display: block !important;
  padding: 0.7em;
  transition: 0.3s ease-in-out;
}
.wishlistHeart:hover {
  background-color: var(--textandhovercolor) !important;
  color: #fff !important;
}
.addedtowishlist {
  color: #ce0606 !important;
  /* bottom: 5%;
  z-index: 1; */
}
.addedtowishlist > i {
  color: #ce0606 !important;
}
.addtocartIcon,
.addTofavIcon {
  color: #a9a9a9;
}
.addtocart:hover > i,
.addtofav:hover > i {
  /* background-color: var(--textandhovercolor) ; */
  color: #fff !important;
  /* width: 100%; */
}
.cardProducts:hover .addToCart {
  display: block !important;
  bottom: 5%;
  z-index: 10;
}
.cardProducts:hover .card-body > ul > li,
.cardProducts:hover .card-body > h6 {
  display: none !important;
}
.cardProducts:hover .wishlistHeart {
  bottom: -10%;
  z-index: 10;
}
.cardProducts:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  /* transform: scale(1.02); */
}
/* .cardProducts:hover
.img1,.cardOnsale:hover
.img1{
    display: none !important;
}
.cardProducts:hover
.img2,
.cardOnsale:hover
.img2{
    display: block !important;
    transform: scale(1);
} */
.BigProductCard {
  height: 98%;
  padding: 10px 0;
  position: relative;
  border: 1px solid #eee;
  /* margin-bottom: 2px; */
}
.BigProductCard .addToCartbig {
  z-index: 1;
  width: 50%;
  position: absolute;
  bottom: 5%;
}
.addToCart:hover {
  border: 1px solid var(--textandhovercolor);
  background-color: #fff !important;
}

section {
  padding-top: 10px;
}
.flashDeals ul li button,
.bestSellingSec ul li button {
  border: none !important;
  background: none;
  text-transform: capitalize;
}

/** Responsive ******/
@media all and (max-width: 900px) {
  .upperHero {
    width: 50%;
    /* left: 40%; */
  }
  .upperHero p {
    font-size: 0.7em;
    width: 80% !important;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  .upperHero a {
    font-size: 0.5em;
    width: 80% !important;
    margin-top: 0 !important;
  }
  .upperHero h3 {
    font-size: 1.1em;
  }
  #hero {
    height: max-content !important;
    padding-bottom: 2rem;
  }
  #hero #carouselExampleIndicators {
    height: 300px !important;
  }

  #secondNav > div > ul > li a {
    font-size: 12px;
  }
  .bestSellingSec div h3 {
    font-size: 80%;
  }
  .bestSellingSec > ul {
    justify-content: start !important;
  }
  .bestSellingSec > ul > li > button {
    font-size: 0.6rem !important;
  }
  .discounts .upperProductDis h5 {
    font-size: 0.9rem;
  }
  .discounts .upperProductDis {
    font-size: 0.8rem;
  }
  .addToCart {
    font-size: 0.8rem !important;
  }
  /* .cardProducts .card-body .card-title,
  .cardOnsale .card .card-body .card-title {
    width: 137px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cardProducts .card-body .card-title:hover,
  .cardOnsale .card .card-body .card-title:hover {
    width: 137px;
    text-wrap: wrap;
    overflow: visible;
  } */
  .cardProducts .card-body > button {
    font-size: 0.5rem !important;
    width: 90%;
    left: 7%;
    animation: none !important;
  }
  .cardProducts .card-body > button:hover {
    display: block;
    animation: none !important;
  }
}
@media all and (min-width: 0px) {
  .cardOnsale .card {
    /* height: 300px; */
    height: 350px !important;
  }
}
@media all and (min-width: 770px) {
  .cardOnsale .card {
    /* height: 300px; */
    height: 200px !important;
  }
}

/********back to top*********************/

#backToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: transparent;
  border: 2px solid var(--textandhovercolor);
  padding: 10px 16px;
  text-align: center;
  font-size: 16px;
  border-radius: 50%;
  z-index: 10;
}
.imgrigthero {
  height: 250px;
  padding: 10px;
}
/* .ifFocused{
  background: #00000060;
  z-index: 11;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 140px;
  left: 0;
  display: none;
} */

.cardOnsale {
  cursor: pointer;
}
