:root {
  --textandhovercolor: #fab700;
  --footerBGcolor: #394150;
}
.navbar .nav-link:after {
  content: " |";
  height: 12px;
  color: #ccc;
  margin-left: 1rem;
}
.nav-link:hover,
.ulsecond>ul > li > a:hover,
footer ul > li > a:hover {
  color: var(--textandhovercolor) !important;
  transition: all 0.5s;
}

.numoforderCat {
  position: absolute;
  top: -10px;
  left: 50px !important;
}
.divofCart {
  border: #eee 2px solid !important;
}

.divofCart {
  width: 25%;
  height: 25%;
}
.divofCart i {
  font-size: 1.5rem;
}
.divofCart:hover {
  background-color: var(--textandhovercolor);
}
.divofCart:hover i {
  color: #fff !important;
}
footer {
  background-color: var(--footerBGcolor);
  padding: 50px 0;
  color: #eee;
}
footer ul>li{
  list-style: none !important;
}
