:root {
  --textandhovercolor: #fcb700;
  --footerBGcolor: #394150;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.navbar .nav-link:after {
  content: " |";
  height: 12px;
  color: #ccc;
  margin-left: 1rem;
}
.nav-link:hover,
.ulsecond > ul > li > a:hover,
footer ul > li > a:hover {
  color: var(--textandhovercolor) !important;
  transition: all 0.5s;
}
.selsectSearch option {
  text-align: start;
  text-transform: capitalize;
}

.numoforderCat {
  position: absolute;
  top: -1px;
  left: 140px !important;
}
.divofCart {
  border: #eee 2px solid !important;
  position: relative !important;
}

/* .divofCart {
  width: 25%;
  height: 25%;
} */
.divofCart i {
  font-size: 1.5rem;
}
.divofCart:hover {
  background-color: var(--textandhovercolor);
}
.divofCart:hover i {
  color: #fff !important;
}
/**************** start footer********/
footer {
  background-color: var(--footerBGcolor);
  padding: 50px 0;
  color: #eee !important;
  margin-top: auto;
  /* padding: 10px; */
  /* text-align: center; */
}
footer ul > li {
  list-style: none !important;
}
.activeNow {
  color: var(--textandhovercolor) !important;
}

@media all and (max-width: 1232px) {
  .numoforderCat {
    position: absolute;
    top: -1px;
    left: 90px !important;
  }
}
@media all and (max-width: 1188px) {
  .numoforderCat {
    position: absolute;
    top: -1px;
    left: 180px !important;
  }
}
@media all and (max-width: 1101px) {
  .numoforderCat {
    position: absolute;
    top: -1px;
    left: 155px !important;
  }
}
@media all and (max-width: 996px) {
  .numoforderCat {
    position: absolute;
    top: -1px;
    left: 140px !important;
  }
}
@media all and (max-width: 918px) {
  .numoforderCat {
    position: absolute;
    top: -1px;
    left: 119px !important;
  }
}
@media all and (max-width: 843px) {
  .numoforderCat {
    position: absolute;
    top: -1px;
    left: 100px !important;
  }
}
@media all and (max-width: 900px) {
  .searchInpt select {
    font-size: 70%;
  }
  .searchInpt input {
    font-size: 70%;
  }
  .searchInpt button {
    font-size: 70%;
  }
}
@media all and (max-width: 765px) {
  .container-logo {
    justify-content: start !important;
  }

  .numoforderCat {
    display: none;
  }
}

.container-logo {
  margin-right: 7% !important ;
}

.feed-back {
  background-color: var(--textandhovercolor);
  color: var(--footerBGcolor);
}
