@import "../css/style.css";

.wishlist-table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
  font-size: 16px;
}
.wishlist-table th,
.wishlist-table td {
  padding: 12px 15px;
  text-align: center;
  vertical-align: middle;
}
.wishlist-table th {
  background-color: #f8f9fa;
  border-bottom: 2px solid #dee2e6;
}
.wishlist-table tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}
.wishlist-table tbody tr:hover {
  background-color: #e9ecef;
}

.wishlist-table .imgs {
  width: 105px;
  height: 105px;
  border-radius: 10%;
  overflow: hidden;
  padding: 10px;
  background: #fff;
  margin: 0 auto;
}
.wishlist-table img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}
.wishlist-table .remove-btn {
  color: white;
  background-color: red;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.wishlist-table .remove-btn:hover {
  background-color: darkred;
}
.wishlist-table .remove-btn:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.5);
}
.wishlist-table .cart-btn {
  margin-left: 3px;
  color: white;
  background-color:var(--textandhovercolor) ;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.wishlist-table .cart-btn:hover {
  background-color: #b5720f;
}
.wishlist-table .cart-btn:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem var(--textandhovercolor);
}
.breadcrumb_wrraper {
  padding-bottom: 0px;
}
@media all and (max-width: 568px){
  .wishlist-table .cart-btn,.wishlist-table .remove-btn{
    margin-left:0 !important;
    margin-bottom: 2px !important;
    padding: 5px!important;
  }
  .productNameCol{
    font-size: 0.5rem !important;
  }
  .productTr td>.imgs{
    width:100%!important;
  }
  td{
    padding: 0!important;
  }
}